@charset "UTF-8";
/* blog */
/* メディアクエリ */
/* 全体構造 */
html {
  overflow: auto;
  scroll-padding-top: 97px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  width: 100%;
  overflow: hidden;
}

a:hover {
  opacity: 0.8;
}

.blog {
  height: auto;
  background-color: #EEFBFB;
  padding-bottom: 50px;
}

.blog .blog-container {
  width: 90%;
  margin: 0 auto;
}

.blog .blog-container .blog-title {
  text-align: center;
  padding: 64px 0 55px;
}

@media (max-width: 375px) {
  .blog .blog-container .blog-title {
    padding: 50px 0 30px;
  }
}

.blog .blog-container .blog-title .blog-titletext {
  color: #333333;
  font-size: 32px;
  font-weight: bold;
  line-height: 0.9;
  margin-bottom: 23px;
}

@media (max-width: 375px) {
  .blog .blog-container .blog-title .blog-titletext {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.blog .blog-container .blog-title .blog-subtext {
  color: #3BA6C9;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

@media (max-width: 375px) {
  .blog .blog-container .blog-title .blog-subtext {
    font-size: 14px;
  }
}

.blog .blog-container .blog-article-wrapper .blog-article-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .blog .blog-container .blog-article-wrapper .blog-article-box {
    display: block;
  }
}

.blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item {
  list-style: none;
  width: 31%;
  margin-right: 30px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media (max-width: 768px) {
  .blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item {
    width: auto;
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item a .blog-article-img {
  width: 100%;
}

@media (max-width: 375px) {
  .blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item a .blog-article-img {
    height: auto;
    width: 100%;
  }
}

.blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item a .blog-article-text-box {
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item a .blog-article-text-box .blog-article-text-wrapper {
  padding: 19px 30px 11px 18px;
  display: block;
}

@media (max-width: 1000px) {
  .blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item a .blog-article-text-box .blog-article-text-wrapper {
    padding: 10px;
  }
}

.blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item a .blog-article-text-box .blog-article-text-wrapper .blog-article-text {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
}

@media (max-width: 1000px) {
  .blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item a .blog-article-text-box .blog-article-text-wrapper .blog-article-text {
    font-size: 16px;
  }
}

.blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item a .blog-article-text-box .blog-article-date-wrapper {
  text-align: right;
  padding-bottom: 15px;
  padding-right: 39px;
}

.blog .blog-container .blog-article-wrapper .blog-article-box .blog-article-item a .blog-article-text-box .blog-article-date-wrapper .blog-article-date {
  color: #444444;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
}
/*# sourceMappingURL=blog.css.map */