@charset "utf-8";

/* faq */

@import 'style.scss';

.faq {
  height: auto;
  padding-bottom: 30px;

  .faq-container {
    width: 75%;
    margin: 0 auto;

    @include sp {
      width: 80%;
    }

    .faq-title {
      text-align: center;
      margin: 64px 0 33px;

      @include sp {
        margin: 50px 0 30px;
      }

      .faq-titletext {
        font-size: 32px;
        font-weight: bold;
        line-height: 0.9;
        color: #333333;
        margin-bottom: 23px;

        @include sp {
          font-size: 24px;
          margin-bottom: 10px;
        }
      }

      .faq-subtext {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
        color: #3BA6C9;

        @include sp {
          font-size: 14px;
        }
      }
    }

    .faq-list {

      .faq-item {

        &:last-child {
          border-bottom: 1px solid #E5E5E5;
        }

        dt {
          padding: 22px 0;
          border: 1px solid #E5E5E5;
          border-bottom: none;
          text-align: center;
          cursor: pointer;
          color: #333333;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.9;

          @include sp {
            padding: 20px 10px;
          }

        }

        dd {
          padding: 21px 0 32px;
          border: 1px solid #E5E5E5;
          border-top: none;
          border-bottom: none;
          margin: 0 auto;
          text-align: center;
          background-color: #F2F2F2;

          @include sp {
            padding: 20px 10px;
          }

          p {
            display: inline-block;
            text-align: left;
            color: #444444;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.9;

            @include sp {
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}
