@charset "utf-8";

/* footer */

@import 'style.scss';

footer {
  background-color: #F8F8F8;
  text-align: center;
  padding: 50px;

  @include sspc {
    padding: 20px;
  }

  @include sp {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    color: #333333;
    margin-bottom: 30px;

    @include sspc {
      margin-bottom: 15px;
    }

    @include sp {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .footer-span-wrapper {
    margin-bottom: 57px;

    @include sspc {
      margin-bottom: 20px;
    }

    @include sp {
      margin-bottom: 10px;
    }

    .privacy-policy {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.8;
      color: #333333;

      @include sp {
        font-size: 13px;
      }
    }

    .private-commerce {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.8;
      color: #333333;

      @include sp {
        font-size: 13px;
      }
    }
  }

  small {
    font-size: 14px;
    line-height: 1.2;
    color: #333333;

    @include sp {
      font-size: 12px;
    }
  }
}
