@import 'style.scss';


/* header */


header {

  .header-container {
    padding-left: 12.5%;
    padding-right: 12.5%;

    display: flex;
    width: 75%;
    margin: 0 auto;
    height: 94px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    z-index: 10;
    background-color: white;

    .header-left {

      a {
        text-decoration: none;
        color: #333;
        font-size: 24px;
        display: flex;
        align-items: center;
        line-height: 1.2;
        font-weight: bold;

        img {
          width: 47px;
          height: 47px;
        }

        p {
          margin-left: 16px;
          font-size: 24px;
          font-weight: bold;
          line-height: 1.2;
          color: #333333;
        }
      }
    }

    .header-center {

      @include sspc {
        display: none;
      }

      .header-pc-nav {
        display: flex;
        justify-content: space-between;
        width: 252px;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.2;

        .header-pc-feature {
          list-style: none;

          a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.2;
          }
        }

        .header-pc-price {

          list-style: none;

          a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.2;
          }
        }

        .header-pc-contact {
          list-style: none;

          a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.2;
          }
        }
      }
    }

    .header-pc-right {
      margin-right: 21px;

      @include sspc {
        display: none;
      }

      .contact-btn {
        width: 155px;
        height: 37px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 10px;

        a {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.2;
          color: #FFFFFF;
          text-decoration: none;
          display: block;
          width: 155px;
          height: 37px;
          background: linear-gradient(to right, #FA41CC, #6020B0);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
        }
      }
    }

    #hamburger {
      @include sspc {

        position: relative;
        display: block;
        width: 30px;
        height: 25px;
        margin: 0 0 0 auto;
      }

      &::before {
        @include sspc {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #333;
        }
      }

      &::after {
        @include sspc {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 70%;
          height: 2px;
          background-color: #333;
        }
      }

      span {
        @include sspc {

          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 100%;
          height: 2px;
          background-color: #333;
          transform: translateY(-50%);
        }
      }
    }

  }
}

.header-sp-nav-wrapper {
  // display: none;

  @include sspc {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 100%;
    background-color: aqua;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translateX(250px);
    transition: all .5s;
  }

  .open {
    transform: translateX(0);
  }

  .header-sp-nav {

    @include sspc {}

    li {
      @include sspc {}

      a {
        @include sspc {}
      }
    }
  }
}

.header-sp-nav-background {
  @include sspc {}
}
