@charset "utf-8";

/* header */

@import 'style.scss';

header {

  .header-container {
    padding-left: 12.5%;
    padding-right: 12.5%;

    display: flex;
    width: 75%;
    margin: 0 auto;
    height: 94px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    z-index: 3;
    background-color: white;

    @include sp {
      padding-left: 3%;
      width: 100%;
      height: 70px;
    }

    .header-left {

      a {
        text-decoration: none;
        color: #333;
        font-size: 24px;
        display: flex;
        align-items: center;
        line-height: 1.2;
        font-weight: bold;

        @include sp {
          font-size: 16px;
        }

        img {
          width: 47px;
          height: 47px;

          @include sp {
            width: 35px;
            height: 35px;
          }
        }

        p {
          margin-left: 16px;
          font-size: 24px;
          font-weight: bold;
          line-height: 1.2;
          color: #333333;
        }
      }
    }

    .header-center {

      .header-pc-nav {

        @include sspc {

          display: none;
        }

        ul {

          display: flex;
          justify-content: space-between;
          width: 252px;
          font-weight: bold;
          font-size: 16px;
          line-height: 1.2;
        }

        .header-pc-feature {
          list-style: none;

          a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.2;
          }
        }

        .header-pc-price {

          list-style: none;

          a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.2;
          }
        }

        .header-pc-contact {
          list-style: none;

          a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.2;
          }
        }
      }
    }

    .header-right {
      margin-right: 21px;

      @include sspc {
        display: none;
      }

      .contact-btn {
        width: 155px;
        height: 37px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 10px;

        a {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.2;
          color: #FFFFFF;
          text-decoration: none;
          display: block;
          width: 155px;
          height: 37px;
          background: linear-gradient(to right, #FA41CC, #6020B0);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
        }
      }
    }
  }
}

.header-sp-nav {

  display: none;

  @include sspc {

    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.16);
    transition: 0.3s;
    position: fixed;
    z-index: 20;
    top: 94px;
    right: -40%;

    .menu-list {

      list-style: none;
      width: 70%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid#333333;
      margin: 40px 20px 20px 50px;

      background-color: rgba(256, 256, 256, 0.9);
      position: relative;

      a {
        color: #333333;
        text-decoration: none;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        span {
          padding-bottom: 5px;
          border-bottom: 2px solid #1be6f5;
        }
      }
    }
  }
}

.header-sp-nav.open {
  right: 0;
}

.ham {

  display: none;

  @include sspc {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 25px;
    position: fixed;
    z-index: 20;

    @include sp {
      width: 30px;
      height: 30px;
      right: 30px;
      top: 15px;
    }

    &-list {
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: #333;
      display: inline-block;
      text-align: center;
    }

    &-list1 {
      right: 0;
      top: 5px;
      width: 100%;
    }

    &-list1.open {
      transform: rotate(45deg);
      top: 40%;
    }

    &-list2 {
      right: 0;
      top: 18px;
      width: 85%;
    }

    &-list2.open {
      opacity: 0;
    }

    &-list3 {
      right: 0;
      top: 31px;
      width: 70%;
    }

    &-list3.open {
      transform: rotate(-45deg);
      top: 40%;
      width: 100%;
    }
  }
}
