@charset "utf-8";

/* mainvisual */

@import 'style.scss';

.mainvisual {
  padding-top: 162px;
  height: 600px;
  background-image: url(../img/circle.png);
  background-size: 800px 800px;
  background-repeat: no-repeat;
  background-position: top -150px right -100px;

  @include sspc {
    padding-top: 94px;
  }

  .mainvisual-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 2;

    @include sspc {
      width: 100%;
      display: block;
      position: static;
    }

    .mainvisual-left {
      width: 40%;
      z-index: 3;

      @include sspc {
        width: 100%;
        text-align: center;
      }

      h1 {
        margin-bottom: 29px;
        font-size: 32px;
        font-weight: bold;
        line-height: 1.5;
        color: #333333;
        width: 400px;
        margin: 38px auto;
      }

      p {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.4;
        color: #333333;
      }

      .contact-btn {
        margin-top: 39px;
        width: 155px;
        height: 37px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 10px;

        @include sspc {
          margin: 30px auto 0;
        }

        a {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.2;
          color: #FFFFFF;
          text-decoration: none;
          display: block;
          width: 155px;
          height: 37px;
          background: linear-gradient(to right, #FA41CC, #6020B0);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
        }
      }
    }

    .mainvisual-right {

      .mainvisual-right-img {
        height: auto;
        position: absolute;
        top: -20px;
        right: 0;
        width: 60%;

        @include sspc {
          position: static;
          width: 30%;
          height: auto;
          display: flex;
          margin: 20px auto;

        }

      }
    }
  }
}
