@charset "utf-8";

/* メディアクエリ */

$bpc: 1920px; //大きいPC
$mpc: 1280px; //中位のPC
$spc: 1065px; //小さいPC
$sspc: 1000px; //もっと小さいPC
$bipad: 800px; //ipadより大きい
$ipad: 768px; // iPad
$sipad: 590px; // iPadより大きい
$sp: 375px; // スマホ

@mixin bpc {
  @media (max-width: ($bpc)) {
    @content;
  }
}

@mixin mpc {
  @media (max-width: ($mpc)) {
    @content;
  }
}

@mixin spc {
  @media (max-width: ($spc)) {
    @content;
  }
}

@mixin sspc {
  @media (max-width: ($sspc)) {
    @content;
  }
}

@mixin bipad {
  @media (max-width: ($bipad)) {
    @content;
  }
}

@mixin ipad {
  @media (max-width: ($ipad)) {
    @content;
  }
}

@mixin sipad {
  @media (max-width: ($sipad)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


/* 全体構造 */

html {
  overflow: auto;
  scroll-padding-top: 97px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  width: 100%;
  overflow: hidden;
}

a {
  &:hover {
    opacity: 0.8;
  }
}
