@charset "utf-8";

/* threeFeature */

@import 'style.scss';

.threeFeature {
  padding-top: 94px;
  margin-bottom: 157px;
  display: block;

  @include sp {
    margin-bottom: 50px;
  }

  .threeFeature-container {
    width: 75%;
    margin: 0 auto;

    @include sspc {
      // width: 95%;
      padding-top: 140px;
    }

    @include sp {
      padding-top: 30px;
    }

    .threeFeature-title {
      text-align: center;
      padding: 0 0 73px;

      @include sp {
        padding-bottom: 30px;
      }

      .threeFeature-titletext {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.2;
        color: #333333;
        margin-bottom: 19px;

        @include sp {
          font-size: 24px;
          margin-bottom: 10px;
        }

        br {
          display: none;

          @include sp {
            display: block;
          }
        }
      }

      .threeFeature-subtext {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
        color: #3BA6C9;

        @include sp {
          font-size: 14px;
        }
      }
    }

    .speedCoding {

      .speedCoding-title {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.2;
        color: #333333;
        text-align: center;
        margin-bottom: 30px;

        @media screen and (max-width: 800px) {
          margin-bottom: 20px;
        }

        @include sp {
          font-size: 20px;
        }
      }

      .speedCoding-inner {
        display: flex;
        align-items: center;

        @media screen and (max-width:730px) {
          display: block;
          text-align: center;
        }

        .speedCoding-img-wrapper {

          .speedCoding-img {
            width: 470px;
            height: auto;
            margin-top: 30px;

            @media screen and (max-width: 1400px) {
              width: 350px;
            }

            @media screen and (max-width: 1100px) {
              width: 300px;
            }

            @media screen and (max-width: 950px) {
              width: 250px;
            }

            @media screen and (max-width: 800px) {
              width: 220px;
            }

            // @media screen and (max-width:638px) {
            //   width: 50%;
            // }

          }
        }

        .speedCoding-description {
          margin-left: auto;
          justify-content: center;

          .speedCoding-description-t-wrapper {
            width: 550px;

            @media screen and (max-width: 1400px) {
              width: 400px;
            }

            @media screen and (max-width: 1100px) {
              width: 350px;
            }

            @media screen and (max-width: 950px) {
              width: 300px;
            }

            @media screen and (max-width: 800px) {
              width: 270px;
            }

            @media screen and (max-width: 730px) {
              width: 75%;
              margin: 0 auto;
              text-align: center;
            }

            .speedCoding-description-title {
              display: inline-block;
              text-align: left;
              font-size: 24px;
              font-weight: bold;
              line-height: 2;
              color: #333333;
              margin: 30px 0 54px;

              br {
                @media screen and (max-width: 1400px) {
                  display: none;
                }
              }

              @media screen and (max-width: 1100px) {
                font-size: 20px;
                margin-bottom: 20px;
              }

              @media screen and (max-width: 800px) {
                line-height: 1.5;
                font-size: 18px;
              }

              @media screen and (max-width: 730px) {
                text-align: center;
              }
            }

            .speedCoding-description-text {
              display: inline-block;
              text-align: left;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.6;
              color: #333333;

              br {
                @media screen and (max-width: 1400px) {
                  display: none;
                }
              }

              @media screen and (max-width: 1100px) {
                font-size: 14px;
              }

              @media screen and (max-width: 730px) {
                text-align: center;
              }
            }
          }
        }
      }
    }

    .highQuality {

      .highQuality-title {
        font-size: 28px;
        font-weight: bold;
        line-height: 0.9;
        color: #333333;
        text-align: center;
        margin: 93px 0 64px;

        @media screen and (max-width: 800px) {
          margin: 70px 0 30px;
        }

        @include sp {
          margin: 40px 0 30px;
          font-size: 20px;
        }
      }

      .highQuality-inner {
        display: flex;
        text-align: center;

        @media screen and (max-width:730px) {
          flex-direction: column;

          .order1 {
            order: 2;
          }

          .order2 {
            order: 1;
          }
        }

        .highQuality-img-wrapper {
          margin-left: auto;

          @media screen and (max-width:730px) {
            margin: 0 auto 20px;
            // text-align: center;
          }

          .highQuality-img {
            width: 550px;
            height: auto;
            // margin-left: 30px;

            @media screen and (max-width: 1400px) {
              width: 400px;
            }

            @media screen and (max-width: 1100px) {
              width: 350px;
            }

            @media screen and (max-width: 950px) {
              width: 300px;
            }

            @media screen and (max-width: 800px) {
              width: 270px;
            }

            @media screen and (max-width:730px) {
              width: 50%;
            }
          }
        }

        .highQuality-description {
          // margin-left: auto;
          // width: 50%;

          // @media screen and (max-width: 638px) {
          //   margin: 0 auto;
          //   text-align: center;
          // }

          .highQuality-description-t-wrapper {
            width: 470px;

            @media screen and (max-width: 1400px) {
              width: 350px;
            }

            @media screen and (max-width: 1100px) {
              width: 300px;
            }

            @media screen and (max-width: 950px) {
              width: 250px;
            }

            @media screen and (max-width: 800px) {
              width: 220px;
            }

            @media screen and (max-width: 730px) {
              width: 75%;
              margin: 0 auto;
            }

            .highQuality-description-title {
              font-size: 24px;
              font-weight: bold;
              line-height: 2;
              color: #333333;
              margin-bottom: 49px;

              br {
                @media screen and (max-width: 1400px) {
                  display: none;
                }
              }

              @media screen and (max-width: 1100px) {
                font-size: 20px;
                margin-bottom: 20px;
              }

              @media screen and (max-width: 800px) {
                line-height: 1.5;
                font-size: 18px;
              }

              // @media screen and (max-width: 730px) {
              //   margin: 30px 0 20px;
              //   text-align: center;
              // }
            }
          }

          .highQuality-description-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.6;
            color: #333333;

            br {
              @media screen and (max-width: 1400px) {
                display: none;
              }
            }

            @media screen and (max-width: 1100px) {
              font-size: 14px;
            }

            // @include sp {
            //   text-align: center;
          }
        }
      }
    }
  }

  .speedResponse {

    .speedResponse-title {
      font-size: 28px;
      font-weight: bold;
      line-height: 0.9;
      color: #333333;
      margin: 93px 0 67px;
      text-align: center;

      @include sp {
        font-size: 20px;
        margin: 40px 0 30px;
      }
    }

    .speedResponse-inner {
      display: flex;

      @include sp {
        display: block;
      }

      .speedResponse-img-wrapper {

        width: 50%;

        .speedResponse-img {
          width: 400px;
          height: 290px;
          // margin-right: 20px;

          @include ipad {
            width: 50%;
            height: 50%;
          }
        }
      }

      .speedResponse-description {
        margin-left: auto;
        width: 50%;
        text-align: right;

        .speedResponse-description-t-wrapper {

          width: 500px;
          margin: 0 0 0 auto;
          text-align: left;

          .speedResponse-description-title {
            display: inline-block;
            text-align: left;
            font-size: 24px;
            font-weight: bold;
            line-height: 2;
            color: #333333;
            margin: 0 0 49px;

            @include ipad {
              font-size: 20px;
            }

            @include sp {
              font-size: 18px;
              line-height: 1.5;
              margin: 30px 0 20px;
              text-align: center;
            }
          }

          .speedResponse-description-text {
            display: inline-block;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8;
            color: #333333;

            @include ipad {
              font-size: 14px;
            }

            @include sp {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
