@charset "UTF-8";
/* threeFeature */
/* メディアクエリ */
/* 全体構造 */
html {
  overflow: auto;
  scroll-padding-top: 97px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  width: 100%;
  overflow: hidden;
}

a:hover {
  opacity: 0.8;
}

.threeFeature {
  padding-top: 94px;
  margin-bottom: 157px;
  display: block;
}

@media screen and (max-width: 1100px) {
  .threeFeature {
    margin-bottom: 100px;
  }
}

@media (max-width: 375px) {
  .threeFeature {
    margin-bottom: 50px;
  }
}

.threeFeature .threeFeature-container {
  width: 75%;
  margin: 0 auto;
}

.threeFeature .threeFeature-container .threeFeature-title {
  text-align: center;
  padding: 0 0 73px;
}

@media (max-width: 375px) {
  .threeFeature .threeFeature-container .threeFeature-title {
    padding-bottom: 30px;
  }
}

.threeFeature .threeFeature-container .threeFeature-title .threeFeature-titletext {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
  color: #333333;
  margin-bottom: 19px;
}

@media (max-width: 375px) {
  .threeFeature .threeFeature-container .threeFeature-title .threeFeature-titletext {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.threeFeature .threeFeature-container .threeFeature-title .threeFeature-titletext br {
  display: none;
}

@media (max-width: 375px) {
  .threeFeature .threeFeature-container .threeFeature-title .threeFeature-titletext br {
    display: block;
  }
}

.threeFeature .threeFeature-container .threeFeature-title .threeFeature-subtext {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: #3BA6C9;
}

@media (max-width: 375px) {
  .threeFeature .threeFeature-container .threeFeature-title .threeFeature-subtext {
    font-size: 14px;
  }
}

.threeFeature .threeFeature-container .speedCoding .speedCoding-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-title {
    font-size: 20px;
  }
}

.threeFeature .threeFeature-container .speedCoding .speedCoding-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 730px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner {
    display: block;
    text-align: center;
  }
}

.threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-img-wrapper .speedCoding-img {
  width: 470px;
  height: auto;
}

@media screen and (max-width: 1400px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-img-wrapper .speedCoding-img {
    width: 350px;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-img-wrapper .speedCoding-img {
    width: 300px;
  }
}

@media screen and (max-width: 950px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-img-wrapper .speedCoding-img {
    width: 250px;
  }
}

@media screen and (max-width: 800px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-img-wrapper .speedCoding-img {
    width: 220px;
  }
}

@media screen and (max-width: 730px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-img-wrapper .speedCoding-img {
    width: 50%;
  }
}

.threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description {
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper {
  width: 550px;
}

@media screen and (max-width: 1400px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper {
    width: 400px;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper {
    width: 350px;
  }
}

@media screen and (max-width: 950px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper {
    width: 270px;
  }
}

@media screen and (max-width: 730px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper {
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper {
    width: 100%;
  }
}

.threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper .speedCoding-description-title {
  display: inline-block;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  color: #333333;
  margin: 0 0 49px;
}

@media screen and (max-width: 1400px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper .speedCoding-description-title br {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper .speedCoding-description-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper .speedCoding-description-title {
    line-height: 1.5;
    font-size: 18px;
  }
}

@media screen and (max-width: 730px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper .speedCoding-description-title {
    text-align: center;
    margin: 30px 0 20px;
  }
}

.threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper .speedCoding-description-text {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333333;
}

@media screen and (max-width: 1400px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper .speedCoding-description-text br {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper .speedCoding-description-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 730px) {
  .threeFeature .threeFeature-container .speedCoding .speedCoding-inner .speedCoding-description .speedCoding-description-t-wrapper .speedCoding-description-text {
    text-align: center;
  }
}

.threeFeature .threeFeature-container .highQuality .highQuality-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 0.9;
  color: #333333;
  text-align: center;
  margin: 93px 0 64px;
}

@media screen and (max-width: 800px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-title {
    margin: 70px 0 30px;
  }
}

@media (max-width: 375px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-title {
    margin: 40px 0 30px;
    font-size: 20px;
  }
}

.threeFeature .threeFeature-container .highQuality .highQuality-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 730px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .order1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .order2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-img-wrapper {
  margin-left: auto;
}

@media screen and (max-width: 730px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-img-wrapper {
    margin: 0;
    height: 50%;
  }
}

.threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-img-wrapper .highQuality-img {
  width: 550px;
  height: auto;
}

@media screen and (max-width: 1400px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-img-wrapper .highQuality-img {
    width: 400px;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-img-wrapper .highQuality-img {
    width: 350px;
  }
}

@media screen and (max-width: 950px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-img-wrapper .highQuality-img {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-img-wrapper .highQuality-img {
    width: 270px;
  }
}

@media screen and (max-width: 730px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-img-wrapper .highQuality-img {
    width: 50%;
  }
}

.threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper {
  width: 470px;
}

@media screen and (max-width: 1400px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper {
    width: 350px;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper {
    width: 300px;
  }
}

@media screen and (max-width: 950px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper {
    width: 250px;
  }
}

@media screen and (max-width: 800px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper {
    width: 220px;
  }
}

@media screen and (max-width: 730px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper {
    width: 100%;
  }
}

.threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper .highQuality-description-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  color: #333333;
  margin-bottom: 49px;
}

@media screen and (max-width: 1400px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper .highQuality-description-title br {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper .highQuality-description-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper .highQuality-description-title {
    line-height: 1.5;
    font-size: 18px;
  }
}

@media screen and (max-width: 730px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-t-wrapper .highQuality-description-title {
    text-align: center;
    margin: 30px 0 20px;
  }
}

.threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333333;
}

@media screen and (max-width: 1400px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-text br {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .threeFeature-container .highQuality .highQuality-inner .highQuality-description .highQuality-description-text {
    font-size: 14px;
  }
}

.threeFeature .speedResponse .speedResponse-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 0.9;
  color: #333333;
  margin: 93px 0 64px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .threeFeature .speedResponse .speedResponse-title {
    margin: 70px 0 30px;
  }
}

@media (max-width: 375px) {
  .threeFeature .speedResponse .speedResponse-title {
    margin: 40px 0 30px;
    font-size: 20px;
  }
}

.threeFeature .speedResponse .speedResponse-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 730px) {
  .threeFeature .speedResponse .speedResponse-inner {
    display: block;
    text-align: center;
  }
}

.threeFeature .speedResponse .speedResponse-inner .speedResponse-img-wrapper .speedResponse-img {
  width: 400px;
  height: 290px;
}

@media screen and (max-width: 1400px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-img-wrapper .speedResponse-img {
    width: 350px;
    height: auto;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-img-wrapper .speedResponse-img {
    width: 300px;
  }
}

@media screen and (max-width: 950px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-img-wrapper .speedResponse-img {
    width: 250px;
  }
}

@media screen and (max-width: 800px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-img-wrapper .speedResponse-img {
    width: 220px;
  }
}

@media screen and (max-width: 730px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-img-wrapper .speedResponse-img {
    width: 50%;
  }
}

.threeFeature .speedResponse .speedResponse-inner .speedResponse-description {
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper {
  width: 550px;
}

@media screen and (max-width: 1400px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper {
    width: 400px;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper {
    width: 350px;
  }
}

@media screen and (max-width: 950px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper {
    width: 270px;
  }
}

@media screen and (max-width: 730px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper {
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper {
    width: 100%;
  }
}

.threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper .speedResponse-description-title {
  display: inline-block;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  color: #333333;
  margin: 0 0 49px;
}

@media screen and (max-width: 1400px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper .speedResponse-description-title br {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper .speedResponse-description-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper .speedResponse-description-title {
    line-height: 1.5;
    font-size: 18px;
  }
}

@media screen and (max-width: 730px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper .speedResponse-description-title {
    text-align: center;
    margin: 30px 0 20px;
  }
}

.threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper .speedResponse-description-text {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #333333;
}

@media screen and (max-width: 1400px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper .speedResponse-description-text br {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper .speedResponse-description-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 730px) {
  .threeFeature .speedResponse .speedResponse-inner .speedResponse-description .speedResponse-description-t-wrapper .speedResponse-description-text {
    text-align: center;
  }
}
/*# sourceMappingURL=threeFeature.css.map */