@charset "utf-8";

/* threeFeature */

.threeFeature {

  margin-bottom: 157px;

  .threeFeature-container {

    width: 75%;
    margin: 0 auto;

    .threeFeature-title {

      text-align: center;
      padding: 80px 0 73px;

      .threeFeature-titletext {

        font-size: 32px;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 19px;
      }

      .threeFeature-subtext {

        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
        color: #3BA6C9;
      }
    }

    .speedCoding {

      .speedCoding-title {

        font-size: 28px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 54px;
      }

      .speedCoding-inner {

        display: flex;

        .speedCoding-img {

          width: 380px;
          height: 314px;
        }

        .speedCoding-description {

          margin-left: auto;

          .speedCoding-description-title {

            font-size: 24px;
            font-weight: bold;
            line-height: 2;
            margin: 54px 0;
          }

          .speedCoding-description-text {

            font-size: 16px;
            font-weight: 400;
            line-height: 1.6;
          }
        }
      }
    }

    .highQuality {

      .highQuality-title {

        font-size: 28px;
        font-weight: bold;
        line-height: 0.9;
        text-align: center;
        margin: 93px 0 64px;
      }

      .highQuality-inner {

        display: flex;

        .highQuality-img {

          width: 479px;
          height: 329px;
          margin-left: auto;
        }

        .highQuality-description {

          .highQuality-description-title {

            font-size: 24px;
            font-weight: bold;
            line-height: 2;
            margin-bottom: 49px;
          }

          .highQuality-description-text {

            font-size: 16px;
            font-weight: 400;
            line-height: 1.6;
          }
        }
      }
    }

    .speedResponse {

      .speedResponse-title {

        font-size: 28px;
        font-weight: bold;
        line-height: 0.9;
        margin: 143px 0 67px;
        text-align: center;
      }

      .speedResponse-inner {

        display: flex;

        .speedResponse-img {

          width: 400px;
          height: 290px;
        }

        .speedResponse-description {

          margin-left: auto;

          .speedResponse-description-title {

            font-size: 24px;
            font-weight: bold;
            line-height: 2;
          }

          .speedResponse-description-text {

            font-size: 16px;
            font-weight: 400;
            line-height: 1.8;
          }
        }
      }
    }
  }
}
